@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');

* {
box-sizing: border-box;
}

body {
background-color: blue;
color: white;
display: flex;
font-family: 'Dongle', sans-serif;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 100vh;
  text-align: center;
}

h1 {
margin: 2% 2% 3% 2%;
text-align: center;
    font-size: 5rem;
}

.container {
background-color: navy;
box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
padding: 1%;
width: 70%;
max-width: 100%;
border-radius: 1.5rem;
    text-align: center;
    margin: 2%;
}


.form-control {
background-color: whitesmoke ;
display: inline-block;
justify-content: flex-start;
align-items: center;
    margin: 0;
  border: none;
position: relative;
font-size: 2.3rem;
letter-spacing: 0.063;
padding: 0.75rem 0.625rem;
height: 4.125rem;
width: 100%;
    margin-bottom: 2%;
border-radius: 0.625rem;
  text-align: center;
}

label {
font-size: 2.2rem
}

.form-control #result {
word-wrap: break-word;
max-width: calc(100% - 40px);
color: black;
}

.form-control .btn {
font-size: 2.25rem;
position: absolute;
top: 0.313rem;
right: 0.313rem;
height: 3.5rem;
width: auto;
}

.generate {
border: none;
color: white;
cursor: pointer;
font-size: 1rem;
    font-family: 'Dongle', sans-serif;
padding: 0.5rem 0.75rem;
    height: auto;
    width: auto;
background-color: rgb(104, 106, 223);
border-radius: 0.313rem;
}

.generate-btn {
border: none;
color: white;
cursor: pointer;
font-size: 2rem;
    font-family: 'Dongle', sans-serif;
padding: 0.5rem 0.75rem;
    height: auto;
    width: auto;
background-color: rgb(104, 106, 223);
border-radius: 5rem;
width: 100%
}

.redirect {
  text-decoration: none;
  color: white;
}

.redirect:hover {
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.6rem;
}

.redirect:active {
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.6rem;
}


@media screen and (max-width: 1028px) {
	.form-control {
		font-size: 2rem;
	}
	
	h1 {
		font-size: 3rem;
	}
	
	.generate-btn {
    		font-size: 2.2rem;
	}
	
	

input[type="number"] {
	width: 1.1rem;
	border-radius: 0.313;
	border: none;
	text-align: center;
	height: 0.9rem;
	font-size: 0.75rem;
}
	
	.container {
		width: 100%;
    	text-align: center;
    	margin-top: 2%;
}
}

@media screen and (min-width: 2000px) {
	.form-control {
		font-size: 2rem;
	}
}